.qr_button_set {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  row-gap: 10px;
  background-color: #f0f8ff;
}
.card_body {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.link_button_container {
  display: flex;
  justify-content: end;
}
