.page {
  font-family: var(--font-geist-sans);

  .header_container {
  }

  .footer_container {
  }

  .content {
    box-sizing: border-box;
    // border: 1px solid;
    padding: 0 5%;
    width: 100%;
  }

  @media (min-width: 1025px) {
    .content {
      margin: 0px 20%;
      width: 60%;
    }
  }
}
